.slider {
  overflow: hidden;
  position: relative;
  &__track {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in;
  }
  &__item {
    position: relative;
  }
  &__content {
    padding: 10px;
  }
  &__info {
    position: absolute;
    left: 0;
    top: 30px;
    padding: 30px;
    z-index: 10;
    color: #fff;
  }
  &__img {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    height: 100%;
    filter: brightness(0.8);
  }
  &__buttons {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__button {
    border: none;
    background-color: transparent;
    width: 60px;
    height: 60px;
    &--previous {
      transform: rotate(180deg);
    }
  }
  &__dots {
    list-style: none;
    text-align: center;
  }
  &__dot {
    display: inline-block;
    &-button {
      border: none;
      background: none;
    }
  }
}
